{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Saber</h1>
		<p>Data Driven Instruction & Assessment Analysis made easy </p>
		<p><a class="btn btn-primary btn-lg" role="button" href="/thegrid">Test Drive</a></p>
	</div>
</div>
<div class="container">
<div class="row">
	<div class="col-md-4">
		<h2>Grading made easy</h2>
		<p>Forget the fancy equipment, use a standard topfed scanner to quickly & easily grade assessments!</p>
	</div>
	<div class="col-md-4">
		<h2>Assessment Analysis</h2>
		<p>Yada yada about assessment analysis!</p>
	</div>
	<div class="col-md-4">
		<h2>Improve Outcomes</h2>
		<p>Use the data to teach the kids!</p>
	</div>
</div>
</div>
{% endblock content %}