{% extends "base.html" %}

{% block style_block %}
    


{% endblock %}

{% block content %}
<br>
<div class="row-fluid">
	<div class="col-md-12" id="gridOptions">
		<form class="form-inline">
			<div class="form-group">
				<input type="number" class="form-control number" placeholder="1">
				<button type="submit" class="btn btn-default">Add Students</button>
			</div>
			<div class="form-group">
				<input type="number" class="form-control grid-number" placeholder="1">
				<button type="submit" class="btn btn-default">Add MC</button>
			</div>
			<div class="form-group">
				<input type="number" class="form-control grid-number" placeholder="1">
				<button type="submit" class="btn btn-default">Add OR</button>
			</div>
		</form>
	</div>
</div>
<hr />
<div id="theGrid" class="handsontable"></driv>

{% endblock content %}

{% block tail_script %}
<script>

	var data = [
	  ["", "Kia", "Nissan", "Toyota", "Honda"],
	  ["2008", 10, 11, 12, 13],
	  ["2009", 20, 11, 14, 13],
	  ["2010", 30, 15, 12, 13]
	];

	var $container = $("#theGrid");
	$container.handsontable({
	  data: data,
	  startRows: 5,
	  startCols: 5,
	  colHeaders: true,
	  minSpareRows: 1
	});

</script>

{% endblock tail_script %}